CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003
# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY=some_secret_key
STRIPE_SUCCESS_URL=http://localhost:3003/api/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/api/payments/cancelled

# https://dashboard.stripe.com/webhooks -> add new destination
# Signin secret -> Use this secret to verify that events originate from Stripe
STRIPE_ENDPOINT_SECRET=secret_webhook_key

AUTH_MONGODB_URL=mongodb+srv://user:pass@your_cluster
JWT_SECRET_AUTH_MS=HERE_SOME_SECRET

ORDERS_DATABASE_URL=postgresql://yourconnectionstring