[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Ariel/cliente-gateway.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/Nest-Microservices-Ariel/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Ariel/orders-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-Ariel/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-Ariel/auth-ms.git
